@import "reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&family=Poppins:wght@400;500;600;700&display=swap');
@import "toast.scss";
@import "slider.scss";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 22px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.hover-eff:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

h2 {
  color: #7F2736;
  line-height: 180%;
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 20px;
}

P {
  font-weight: 400;
  font-size: 24px;
  line-height: 180%;
}

//HEADER

.actions__ul {
  list-style-type: none;
  display: inline;
  column-gap: 80px;
  padding-left: 356px;
}

.actions__li {
  padding-left: 40px;
  padding-right: 40px;
}

header {
  background-color: #F0C53E;
  padding: 63px 101px 150px 105px;
  border-bottom-left-radius: 90% 20%;
  border-bottom-right-radius: 90% 20%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 80px;
}

.actions__li {
  color: #252641;
  &:hover {
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
  }
}

.contact {
  display: flex;
  column-gap: 22px;
  font-weight: 500;
  color: white;
  margin-left: 100px;
  padding: 20px 38px;
  background-color: #B25A59;
  border-radius: 50px;
  border: none;
  line-height: 25px;
  align-items: center;
}

.intro {
  display: flex;
  column-gap: 10px;
}

.intro__information {
  display: flex;
  flex-direction: column;
}

.intro__title {
  font-family: 'Nunito Sans';
  font-weight: 800;
  font-size: 54px;
  line-height: 74px;
  color: #7F2736;
  margin-top: 85px;
  padding-bottom: 48px;
}

.intro__moto {
  font-family: 'Nunito Sans';
  font-weight: 400;
  padding-bottom: 52px;
  max-width: 523px;
  width: 100%;
}

.intro__actions {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.intro__explore {
  padding: 22px 43px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  background-color: #B25A59;
  border-radius: 50px;
  color: white;
}

.intro__play-button {
  background: #FFFFFF;
  box-shadow: 2px 20px 60px rgba(61, 155, 185, 0.1);
  padding: 20px 20px 20px 26px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    opacity: .8;
  }
}

.intro__black {
  color: black;
}

//MAIN

//promo-section

main {
  padding-top: 165px;
  padding-bottom: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 170px;
  padding-right: 170px;
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
  margin-bottom: 170px;
}

.desc {
  width: 100%;
  text-align: center;
}

.promo__desc {
  max-width: 840px;
}

.promo__img {
  border-radius: 20px;
  min-width: 450px;
  min-height: 367px;
  height: 100%;
  width: 100%;
}

.promo__country {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #7F2736;
}

//global-section

.global {
  padding-left: 170px;
  padding-right: 170px;
}

.global__desc {
  margin-bottom: 80px;
  max-width: 1100px;
}

.global__trip {
  display: flex;
  column-gap: 100px;
  justify-content: center;
  margin-bottom: 210px;
}

.global__box {
  padding: 132px 158px 123px 159px;
  background-color: rgba(127,39,54, 0.8);
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
}

.domestic {
  background-image: url("/assets/images/travel1.png");
}

.international {
  background-image: url("/assets/images/travel2.png");
}

.global__for {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 17px;
}

.global__button {
  color: white;
  padding: 24px 58px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 80px;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    opacity: .8;
  }
  &:active {
    opacity: .5;
  }
}

.global__latest {
  padding: 43px 37px 50px 41px;
  background-color: #F0C53E;
  border-radius: 20px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 208px;
}

.global__info {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  width: 50%;
}

.global__h3 {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 36px;
  line-height: 160%;
  color: #7F2736;
}

.global__a {
  font-weight: 400;
  font-size: 22px;
  line-height: 180%;
  text-decoration-line: underline;
  color: #EE5060;
}

.global__video {
  position: relative;
}

.globally {
  position: absolute;
  left: 45%;
  top: 40%;
}

.global__img {
  border-radius: 20px;
  border: 1px solid rgb(67, 176, 67);
}

//team-section

.team {
  margin-bottom: 155px;
}

.team__desc {
  margin-bottom: 176px;
}

.team__preview {
  display: flex;
  justify-content: space-between;
  column-gap: 230px;
}

.team__background {
  background-color: rgba(244, 244, 244, 0.6);
  backdrop-filter: blur(80px);
  border-radius: 20px;
  max-width: 780px;
  max-height: 480px;
}

.team__pictures {
  position: relative;
}

.team__img {
  position: absolute;
  border-radius: 18px;
  border: 4px solid rgba(82, 185, 3, 0.67); 
  &.img1 {
    top: 12.5%;
    left: 10%;
    box-shadow: 0px 16px 40px rgba(37, 44, 113, 0.3);
  }
  &.img2 {
    top: 12.5%;
    left: 50%;
  }
  &.img3 {
    top: 40%;
    left: 50%;
  }
  &.img4 {
    top: 7.5%;
    left: 85%;
  }
  &.img5 {
    top: 45%;
    left: 82.5%;
  }
}

.team__about {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.team__box {
  display: flex;
  column-gap: 42px;
  align-items: flex-start;
}

.team__icon {
  padding: 17px;
  background-color: #FBFBFB;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 15px 44px rgba(13, 15, 28, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__text{
  font-size: 22px;
  color: #696984;
}

//why-us section

.why-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.why-us__desc {
  padding-bottom: 120px;
  max-width: 840px;
  margin:0 auto;
}

.why-us__reasons {
  display: flex;
  column-gap: 60px;
  margin-bottom: 194px;
}

.why-us__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 60px;
  padding: 122px 54px 50px 53px;
  box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
  border-radius: 20px;
  border: none;
  position: relative;
}

.why-us__icon {
  position: absolute;
  top: -12.5%;
  padding: 28px 28px 27px 27px;
  box-shadow: 0px 10px 40px rgba(54, 61, 136, 0.2);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.red {
  background-color: #EE5060;
}

.yellow {
  background-color: #F0C53E;
}

.brown {
  background-color: #AF6C2C;
}

.why-us__h6 {
  color: #7F2736;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
}

.why-us__p {
  font-size: 20px;
  color: #2C2D32;
}

.why-us__testimonial {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 68px;
}

.why-us__reviews {
  max-width: 700px;
}

.why-us__h2 {
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
}

.why-us__ul {
  list-style-type: none;
  padding-left: 0;
}

.why-us__ul li {
  margin-bottom: 40px;
  font-size: 26px;
  line-height: 160%
}

.why-us__input {
  padding: 23px 150px 22px 65px;
  border: 1px solid #EE5060;
  border-radius: 80px;
  background-color: transparent;
  color: #EE5060;
  font-size: 22px;
  line-height: 160%;
  position: relative;

  &::placeholder {
    color: #EE5060;
  }

  &:focus {
    outline: none;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
  }
}

.why-us__form {
  max-width: 460px;
  width: 100%;
  position: relative;
}

.why-us__btn {
  display: inline-block;
  border-radius: 50%;
  padding: 24px 35px;
  background-color: transparent;
  border-color: #EE5060;
  position: absolute;
  top: 0%;
  right: -8%;
  border-right: none;
  border-bottom: none;
  border-top: none;

  &:after {
    content: '';
	display: inline-block;
  width: 20px;
  height: 20px;
  border-top: 5px solid #EE5060;
  border-right: 5px solid #EE5060;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  }

  &:hover {
    cursor: pointer;
    opacity: 0.3;
  }
}

.why-us__img {
  border-radius: 20px;
}

.why-us__upcoming-trips {
  display: flex;
  align-items: flex-start;
  column-gap: 7px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.why-us__trip-picture {
  padding: 20px 16px;
  background: #F0C53E;
  border-radius: 8px;
  border: none;
}

.why-us__trip-info {
  font-family: 'Nunito Sans';
  display: flex;
  flex-direction: column;
  font-weight: 700;

  & h6 {
    font-size: 24px;
    color: #595959;
  }

  & span {
    font-weight: 600;
    font-size: 20px;
    color: #545567;
  }
}

.why-us__btn2 {
  padding: 12px 48px;
  background: #B25A59;
  border-radius: 80px;
  color: white;
  font-size: 20px;
  line-height: 27px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

//news-section

.news, .news__left, .news__right, .news__preview {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 400;
}

.news__desc {
  margin-bottom: 100px;
}

.news__main {
  display: flex;
  align-items: flex-start;
  column-gap: 120px;
}

.news__article {
  display: flex;
  column-gap: 40px;
}

.news__left {
  align-items: flex-start;
}

.news__picture {
  margin-bottom: 42px;
}

.news__span {
  padding: 2px 35px;
  background: #F0C53E;
  border-radius: 80px;  
  font-weight: 500;
  color: #2C2D32;
  margin-bottom: 20px;
}

.news__h5 {
  font-weight: 500;
  font-size: 26px;
  color: #7F2736;
  margin-bottom: 37px;
}

.news__p {
  font-size: 20px;
  margin-bottom: 22px;
}

.news__a {
  color: #EE5060;
  text-decoration-line: underline;
}

.news__right {
  row-gap: 50px;
}

.news__img {
  min-width: 280px;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
  bottom: 8%;
  right: 8%;
}

.smaller {
  padding: 3px 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.news__h6 {
  font-weight: 500;
  font-size: 22px;
  color: #7F2736;
  padding-bottom: 20px;
}

//FOOTER

footer {
  background-color: #7F2736;
  padding-top: 54px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe__h5 {
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  color: #F0C53E;
  margin-bottom: 64px;
}

.subscribe__form {
  display: flex;
  column-gap: 20px;
  margin-bottom: 23px;
}

.subscribe__input {
  padding: 15px 258px 15px 30px;
  border: 1px solid #F0C53E;
  box-sizing: border-box;
  border-radius: 80px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: white;
  background-color: transparent;

  &::placeholder {
    color: white;
  }

  &:focus {
    outline: none;
    border: 1px solid #F0C53E;
    box-shadow: 0 0 10px #719ECE;
  }
}

.subscribe__btn {
  padding: 14px 34px;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: white;
  background: linear-gradient(105.5deg, #EE5060 19.57%, #B25A59 78.85%);
  border-radius: 60px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  &:disabled {
    opacity: .5;
    cursor: default;
  }
}

.subscribe__error {
  text-align: center;
}

.subscribe__email-list {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  margin-left: 20px;
  margin-right: 20px;
}

.subscribe__actions {
  margin-bottom: 20px;
}

.subscribe__ul, .js-ul {
  list-style-type: none;
}

.subscribe__ul li {
  display: inline-block;
}

.subscribe__a {
  padding-left: 20px;
  padding-right: 20px;
  &:hover {
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
  }
}

.bordered {
  border: 1px solid #9B3043;
  border-top: none;
  border-bottom: none;
}

.subscribe__actions, .subscribe__copyright {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #A7283E;
}

@import "media.scss";