.header {
    background-image: url('./Header.jpg');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.filterBtn {
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    background: #e2a23b;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 1rem .5rem;
    cursor: pointer;

    &:hover {
        opacity: .7;
    }

    &:focus {
        box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
        outline: 0;
    }
}
