:root {
    --body-background: #FAFAFA;
    --box-background: white;
    --placeholder-background: #FAFAFA;
    --text-color: #130F1C;
    --input-color: #18273AF0;
    --a-color: #651FFF;
    --hr-color: #ECECEE;
    --icons-color: black;
  }